* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.container2 {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    color: #fff
}

.profile {
    text-align: center;
}

.profile img {
    width: 200px; 
    height: auto;
    border-radius: 50%;
}

.profile h2 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center; 
}

.profile p {
    text-align: center; 
}

.button {
    display: inline-block;
    padding: 10px 10px;
    margin: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.social-icons a {
    text-decoration: none; /* Remove underline from icons */
    color: inherit; /* Inherit color from parent */
    font-size: 0.5em; /* Adjust the font size as needed */
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff4242; /* Change color on hover */
}

.experience-education-section {
    text-align: center; /* Center-align the headers */
}

.experience-education-section .container {
    display: flex;
    justify-content: space-between; /* Spread the headers to the left and right */
}

.experience-education-section .header-left,
.experience-education-section .header-right {
    width: 45%; /* Adjust width as needed */
}

p {
    font-size: 14px; /* Example: sets the font size to 16 pixels */
    margin-bottom: px; /* Example: sets the bottom margin to 20 pixels */
}
